# Example code in package build process
# History files
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# RStudio files
# Session Data files
# Temporary files created by R markdown
# User-specific files
# knitr and R markdown default cache directories
# produced vignettes
*-Ex.R
*.knit.md
*.utf8.md
*_cache/
.DS_Store
.RData
.Rapp.history
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
.httr-oauth
.pre-commit-config.yaml
/*.Rcheck/
/*.tar.gz
/cache/
docs
inst/WORDLIST
inst/vault
vignettes/*.html
vignettes/*.pdf
